version: '2'

services:
  db:
    image: mysql
    ports:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: qwertier
    volumes:
      - ./moztrap/mysql_data:/var/lib/mysql

  moztrap:
    build: ./moztrap
#    image:lemonlatte/docker-moztrap
    ports:
      - 8011:8000
    depends_on:
      - db
    environment:
      SITE_URL: "http://aaa.example.com"
      MYSQL_ENV_MYSQL_PASS: qwertier
      MYSQL_HOST: db
      DB_PORT: 3306
      DEFAULT_FROM_EMAIL: 'from@example.com'
      EMAIL_HOST: localhost
      EMAIL_PORT: 25001
#      EMAIL_HOST_USER: 'please set smtpauth-user'
#      EMAIL_HOST_PASSWORD: 'please set smtpauth-password'
#      EMAIL_USE_TLS: 'True'
      MOZ_SLEEP: 10
