version: '2'

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: qwertier
    volumes:
      - ./moztrap/mysql_data:/var/lib/mysql

  moztrap:
    build: ./moztrap
#    image:lemonlatte/docker-moztrap
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      MYSQL_ENV_MYSQL_PASS: qwertier
      MYSQL_HOST: db
      DEFAULT_FROM_EMAIL: 'from@localhost'
      EMAIL_HOST: 127.0.0.1
      EMAIL_PORT: 25
#     EMAIL_HOST_USER: 'please set smtpauth-user'
#      EMAIL_HOST_PASSWORD: 'please set smtpauth-password'
      EMAIL_USE_TLS: 'False'
      MOZ_SLEEP: 20
